.header nav {
    margin: 50px;
}

.header a {
    color: rgb(80, 78, 78);
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 4px solid rgb(219, 219, 231);
    padding-bottom: 7px;
    margin: 20px;
    padding: 12px 15px;
}

.header a:hover {
    border-bottom: 4px solid maroon;
}